html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#app .leftMenu {
	width: 200px;
	height: 100%;
	background-color: gainsboro;
	float: left;
}

#app .rightContent {
	height: 100%;
	margin-left: 200px;
	background-color: beige;
	overflow: hidden;
}

.menu {
	width: 200px;
	height: 36px;
	text-align: center;
	border-bottom: 1px solid palevioletred;
	line-height: 36px;
}

.navigator {
	width: 100%;
	height: 50px;
	background-color: aqua;
	overflow: hidden;
}

.navigator .userInformation {
	width: 200px;
	float: right;
	height: 40px;
	padding: 5px 10px;
	line-height: 40px;
	background-color: aliceblue;
}

.navigator .userInformation .headPortrait {
	width: 40px;
	height: 40px;
	background-color: lavender;
}

.tabBar {
	width: 100%;
	height: 40px;
	background-color: rosybrown;
}

.main {
	width: 100%;
	height: 100%;
	background-color: palevioletred;
}

.my-container {
	width: 100%;
	height: 100%;
}